@CHARSET "UTF-8";


/* @font-face{font-family:'Nanum Gothic'; src:url('../fonts/NanumBarunGothicLight.otf')} */

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background-color : rgb(16, 18, 20); 
	overflow: hidden;
	font-family: Nanum Gothic;  
}

.init_machine_icon{
	z-index: 3;
}


#svg{
	position:absolute;
	width: 100%;
	height: 100%;
}

#grid{
	position:absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.init_machine_icon::selection, .init_icon::selection{
	background:rgba(0,0,0,0);
}
.ghost-select {
  display: none;
  z-index: 4;
  position: absolute !important;
}

#big-ghost{
  background-color:rgba(239, 28, 190, 0.4);
  border:1px solid #aaf81a;
  position:absolute;
  cursor: pointer;
  z-index: 9;
}

.ghost-active {
  display: block !important;
  z-index: 9;
}

.ghost-select > span {
  background-color: rgba(239, 28, 190, 0.4);
  border: 1px solid #b20e8c;
  width: 100%;
  height: 100%;
  float: left;
}

.page{
	overflow: auto;
}

.title{
	color : white;
}

#map{
	display:none;
	height: 100%;
	position: absolute;
	z-index: 9;
	background-color: white;	
}

#reportTable td{
	background-color: white;
	font-weight: bolder;
}

.mainTable, .mainTable2{
	width: 100%;
}
.tr1, .tr2, .layoutTd, #lastCell{
	background-color:rgb(50,50,50);
	text-align: center;
}

.neon1{
	color:white;
  	font-weight: bolder;
}

.neon2{
	color:white;
  	font-weight: bolder;
}

.neon3{
	color:white;
  	font-weight: bolder;
}

#menu_btn{
	position: absolute;
	cursor: pointer;
	z-index: 999999;
}
 
.page{
	position: absolute;
	width: 100%;
}

#status3_1, #status3_2{
	width: 100%;
}

.wrap{
	background-color: white;
	/* position: absolute; */
	cursor: pointer;
	transform-style: preserve-3d;
}


.frame{
	padding: 5px;
}

.opRatio{
	color: blue;
	font-weight: bolder;
}

.comName{
	font-weight: bolder;
}

.front{
  	-webkit-transform: rotateY(0deg);
}
.back{
	-webkit-transform: rotateY(180deg);
	/* transform: rotateY(180deg); */
 	position: absolute;
}

.card_table{
	text-align: center;
	width: 100%;
}

.front, .back{
	-webkit-backface-visibility: hidden;
   	/* -ms-backface-visibility: hidden;
 	-moz-backface-visibility: hidden;
	backface-visibility: hidden; */
}

.card_back{
	font-weight:bolder;
	width: 95%
}

.tmpTable, .tmpTable tr, .tmpTable td{
	border: 3px solid rgb(50,50,50);
}

.tmpTable td{
	padding : 5px;
	height: 50px;
}
.label{
	color: white;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#jigList, #wcList{
	cursor: pointer;
	font-size: 20px;
}

#jigSelector, #wcSelector{
	margin-right: 10px;
	border-radius : 5px;
	cursor: pointer;
}

.date{
	height: 30px;
	font-size: 15px;
}







#thermometer,#thermometer2,#thermometer3 {
    position: relative;
    background: #ddd;
    border:1px solid #aaa;
    /* -webkit-box-shadow: 1px 1px 4px #999, 5px 0 20px #999;
       -moz-box-shadow: 1px 1px 4px #999, 5px 0 20px #999;
        -ms-box-shadow: 1px 1px 4px #999, 5px 0 20px #999;
         -o-box-shadow: 1px 1px 4px #999, 5px 0 20px #999;
            box-shadow: 1px 1px 4px #999, 5px 0 20px #999; */
}

#thermometer .track, #thermometer2 .track, #thermometer3 .track {
    border: 1px solid #aaa;
    position: relative;
    margin:0 auto;
    background: rgb(255,255,255);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0,0,0)), color-stop(1%,rgb(255,255,255)));
    background: -webkit-linear-gradient(top, rgb(0,0,0) 0%,rgb(255,255,255) 10%);
    background:      -o-linear-gradient(top, rgb(0,0,0) 0%,rgb(255,255,255) 10%);
    background:     -ms-linear-gradient(top, rgb(0,0,0) 0%,rgb(255,255,255) 10%);
    background:    -moz-linear-gradient(top, rgb(0,0,0) 0%,rgb(255,255,255) 10%);
    background:   linear-gradient(to bottom, rgb(0,0,0) 0%,rgb(255,255,255) 10%);
    background-position: 0 -1px;
    background-size: 100% 5%;
}

#thermometer .progress, #thermometer2 .progress, #thermometer3 .progress {
    height:0%;
    width:100%;
    background: red;
    /* background: rgba(20,100,20,0.6); */
    position: absolute;
    bottom:0;
    left:0;
}

#thermometer .goal, #thermometer2 .goal, #thermometer3 .goal {
    position:absolute;
    top:0;
}

#thermometer .amount, #thermometer2 .amount, #thermometer3 .amount {
   /*  display: inline-block;
    padding:0 5px 0 60px;
    border-top:1px solid black;
    font-family: Trebuchet MS;
    font-weight: bold;
    color:#333; */
}

#thermometer .progress .amount, #thermometer2 .progress .amount, #thermometer3 .progress .amount {
    position: absolute;
    border-top:1px solid white;
    color:white;
    right:0;
}
